html, 
body, 
ul {
   
    margin: 0;
    padding: 0;
}


.header {

    text-align: center;
    padding: 20px;

}

.item-message {

    width: 100%;
    padding: 0px 20px;
}


.item-list {
    
    list-style-type: none;
    vertical-align: middle;
    
}

.item-list div {
    
    padding: 20px 10px; 
    
}
.col {
    
  border-bottom: 1px solid #BDBDBD;
    
}

.row:last-child .col  {
    
    border-bottom: none;
    
} 
input[required]:hover {
    
    border: 1px solid red;
    
}

.row.checked {
    
    color: #ccc;
    
}

.row.checked .item-message{
    
    text-decoration: line-through;
    
}